/* p {
    font-family: Quicksand, Calibri, 'Trebuchet MS', sans-serif;
} */

.stackable {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tallMobile {
    flex:auto;
}

body {
    overflow-y: scroll;
}

@media (max-width: 700px) {
    .stackable {
        flex-direction: column;
    }

    .tallMobile {
        height:calc(100vh - 40px);
        flex: none;
    }
}

.verticalCenterContainer {
    display:flex;
    flex: auto;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 0 auto 0 auto;
    font-size:0.6em;
    max-width:650px;
    padding-left:30px !important;
    padding-right:30px !important;
}

.background {
    flex:auto;
    padding-top: 8vh;
    min-height: 100%;
    width: 100%;
}

.homepage {
    background: linear-gradient(319deg, orange, rgb(29, 29, 179));
    background-size: 180%;

    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}